<mat-toolbar class="nav-height" color="warn">
    <button mat-icon-button (click)="snav.toggle()" class="bg-transparent border-0">
        <mat-icon class="mt-2">menu</mat-icon>
    </button>
    <h1 class="m-0">Jacky Store</h1>

    <div class="ms-auto">
        {{currentTime | date:'dd/MM/yy hh:mm:ss'}}
    </div>
</mat-toolbar>

<mat-sidenav-container>

    <mat-sidenav #snav mode="side">
        <mat-nav-list>
            <a class="h-100 text-center" mat-list-item routerLink="/home-page">
                <div class="col-12">
                    <img src="../../assets/nav-pic/home-circle.svg" alt="Home picture">
                    <br />
                    <p class="text-nav-mini">Home</p>
                </div>
            </a>
            <a class="h-100 text-center" mat-list-item routerLink="/login-page">
                <div class="col-12">
                    <img src="../../assets/nav-pic/chart-line.svg" alt="Stock picture">
                    <br />
                    <p class="text-nav-mini">Chart</p>
                </div>
            </a>
            <a class="h-100 text-center" mat-list-item routerLink="/login-page">
                <div class="col-12">
                    <img src="../../assets/nav-pic/warehouse.svg" alt="Stock picture">
                    <br />
                    <p class="text-nav-mini">Stock</p>
                </div>
            </a>
            <a class="h-100 text-center" mat-list-item routerLink="/login-page">
                <div class="col-12">
                    <img src="../../assets/nav-pic/bell-ring.svg" alt="Stock picture">
                    <br />
                    <p class="text-nav-mini">Notification</p>
                </div>
            </a>
            <a class="h-100 text-center" mat-list-item routerLink="/login-page">
                <div class="col-12">
                    <img src="../../assets/nav-pic/cog.svg" alt="Stock picture">
                    <br />
                    <p class="text-nav-mini">Setting</p>
                </div>
            </a>
            <a class="h-100 text-center" mat-list-item (click)="openPopup()">
                <div class="col-12">
                    <img src="../../assets/nav-pic/logout.svg" alt="Stock picture">
                    <br />
                    <p class="text-nav-mini">Log out</p>
                </div>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="h-100">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>


<!-- Modal Pop up -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <!-- <div class="modal fade"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" [ngStyle]="{'display':displayStyle}"> -->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>Are you sure to Logout?</h1>
                </div>
                <div class="modal-footer">
                    <button type="button mx-auto" class="btn btn-success col-3" (click)="backToLoginPage()">
                        Yes
                    </button>
                    <button type="button" class="btn btn-danger col-3" (click)="closePopup()">
                        No
                    </button>
                </div>
            </div>
        </div>
    </div>